.work p {
    color: #ffffff;
    clear: both;
    background-color: #4aaaa5;
    border-bottom: 0;
    font-family: Georgia, Times, 'Times New Roman', serif;
    float: left;
    text-align: center;
    position: absolute;
    bottom: 30px;
    padding: 15px;
    width: 100%;
}

.gallery {
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    float: left;
    margin: 20px 0;
}

.work {
    width: 274px;
    overflow: auto;
    float: left;
    position: relative;
    margin-left: 20px;
}


@media only screen and (max-width: 980px) {
    .work , .gallery img{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .work {
        width: 47%;
        margin-left: 15px;
    }
    
    .gallery {
        width: 100%;
        max-width: 100%;
    }
    
}

@media only screen and (max-width: 640px) {
    .work {
        width: 100%;
        margin: auto;
    }
}
